#wd-product-list-header {
  margin-top: 10px;
  align-items: start;
  display: flex;
  margin-left: 5px;
}

.wd-card {
  width: 300px;
  margin: 10px;
}

.primary-color {
  color: var(--primary-color) !important;
}

.wd-in-cart {
  background-color: var(--primary-color) !important;
  color: white !important;
}
